%% -*- erlang -*-
{minimum_otp_vsn, "22"}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors]}.

{eunit_opts, [verbose]}.

{deps, [
        {riak_pb, {git, "https://github.com/TI-Tokyo/riak_pb.git", {tag, "riak_ts-3.0.0"}}},
        {riak_core, {git, "https://github.com/TI-Tokyo/riak_core.git", {tag, "riak_ts-3.0.0"}}},
        {webmachine, "1.11.1"},
        {mochiweb, "3.0.0"}
        ]}.

{profiles, [
    {test, [{deps, [meck]}]}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.
